@import "../../base.scss";

.posts-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
    margin: 0 auto;
    padding: 13rem 2.4rem 0 2.4rem;
    transition: all 0.5s ease;
}

@media screen and (min-width: 500px) {
    .posts-grid {
        max-width: 58rem;
        width: 89%;
    }
}

@media screen and (min-width: 600px) {
    .posts-grid {
        padding-top: 14.6rem;
    }
}

@media screen and (min-width: 800px) {
    .posts-grid {
        max-width: 90rem;
        &__column {
            width: 50%;
        }
    }
}

@media screen and (min-width: 1100px) {
    .posts-grid {
        width: auto;
        padding: 6.4rem 4rem 0 33rem;
    }
}

@media screen and (min-width: 1500px) {
    .posts-grid {
        max-width: 126rem;
        &__column {
            width: 33%;
        }
    }
}
