@import "../../base.scss";
@import "../../hamburgers.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    z-index: 1;
    background-color: $black;

    &--visible-nav {
        height: 100%;
    }

    &__logo {
        height: 3rem;
    }

    &__logo-container {
        display: flex;
        align-items: center;
        padding: 3rem;
    }

    &__nav {
        display: none;
        position: absolute;
        top: $header-height;
        width: 100%;
        height: 100%;
        z-index: 2;
        overflow-y: scroll;
        background-color: $black-2;
        font-family: "Heebo", sans-serif;
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.6);

        &--visible {
            display: block;
        }

        &--current-page {
            color: white;
        }
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 6.2rem 4rem 0 4rem;
        border-top: 1px solid $black-border;

        & > li {
            width: 100%;
            border-bottom: 1px dotted $black-border;
            border-top: 1px dotted $black-border;
            transition: color 0.3s ease;

            &:hover {
                color: white;
            }
        }

        & a {
            display: block;
            width: 100%;
            padding: 2rem 0;
            text-decoration: none;
            color: inherit;
        }
    }

    &__nav-sublist-head {
        padding: 2rem 0;
        cursor: pointer;

        &--open {
            &::before {
                transform: rotate(180deg);
            }
        }

        &::before {
            display: block;
            float: right;
            width: 1.6rem;
            height: 1.6rem;
            content: " ";
            background-image: url("../../assets/arrow.svg");
            background-size: 1.6rem 1.6rem;
            margin-top: 0.5rem;
            margin-right: 1rem;
            transition: all 0.5s;
        }
    }

    &__nav-sublist {
        display: block;
        max-height: 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-left: 1.2rem;
        transform: scaleY(0);
        transform-origin: top;
        transition: all 0.3s ease;

        &--visible {
            max-height: 200px;
            transform: scaleY(1);
        }

        & a {
            padding: 1.5rem 0;
        }

        & > li:first-of-type {
            padding-top: 1rem + 1.5rem;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        margin: 6rem 0 calc(4rem + 8.5rem) 0;

        & > li {
            display: flex;
            width: 4.4rem;
            height: 4.4rem;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $black-border;
            margin: 0 0.3rem;
        }
    }

    &__social-icon {
        display: block;
        width: 1.7rem;
        height: 1.7rem;
        padding: 1rem;
        background-size: 1.7rem 1.7rem;
        background-position: center center;
        background-repeat: no-repeat;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.4);
        }

        &--facebook {
            background-image: url(../../assets/social/icon-facebook.svg);
        }

        &--dribble {
            background-image: url(../../assets/social/icon-dribbble.svg);
        }

        &--twitter {
            background-image: url(../../assets/social/icon-twitter.svg);
        }

        &--pinterest {
            background-image: url(../../assets/social/icon-pinterest.svg);
        }
    }
}

@media screen and (min-width: 500px) {
    .header {
        &__nav-list {
            padding: 9rem 6rem 0 6rem;
        }
    }
}

@media screen and (min-width: 800px) {
    .header {
        &__nav {
            font-size: 2.2rem;
        }

        &__nav-sublist {
            font-size: 1.4rem;
        }
    }
}

@media screen and (min-width: 1100px) {
    .header {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 22rem;
        background-color: $black-2;
        padding: 6.4rem 2.8rem 0 4rem;

        &__nav {
            display: block;
            margin-top: 3.2rem;
            position: static;
            height: auto;
            overflow: hidden;
        }

        &__nav-list {
            padding: 0;
            font-size: 1.6rem;
            border: 0;

            & > li {
                border: 0;
            }

            & a {
                padding: 1.5rem 0;
            }
        }

        &__social {
            position: absolute;
            bottom: 0;

            & > li {
                width: 3.6rem;
                height: 3.6rem;
            }
        }

        &__nav-sublist {
            font-size: 1.1rem;
        }

        &__nav-sublist-head {
            padding: 1.5rem 0;
        }

        &__logo-container {
            padding: 0;
            width: 100%;
        }
    }
}
